.logo{
    width: 80px;
    height: 57px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    text-align: left;
    font: italic normal bold 48px/48px Helvetica Neue;
    letter-spacing: -14.35px;
    color: #FFFFFF;
    opacity: 1;
}
.title{
    writing-mode: vertical-lr;
    font-style: italic;
}
.nav-top{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    transition: all 1s;
}
.banner-top{
    top: 20%;
    right: 0;
    width: 350px;
}
.bg-item1{
    background-image: url(https://images.unsplash.com/photo-1558976825-6b1b03a03719?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1950&amp;q=80);
    height: 240px;
}
.bg-item2{
    background-image: url(https://images.unsplash.com/photo-1526913621366-a4583840d736?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1950&amp;q=80);
    height: 240px;
}
.bg-item3{
    background-image: url(https://images.unsplash.com/photo-1564182379166-8fcfdda80151?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1951&amp;q=80);
    height: 240px;
}
.bg-item4{
    background-image: url(https://images.unsplash.com/photo-1523594572281-3c9a566b6163?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80);
    height: 352px;
}
.bg-item5{
    background-image: url(https://images.unsplash.com/photo-1551776235-dde6d482980b?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2134&amp;q=80);
    height: 240px;
}
.bg-item6{
    background-image: url(https://images.unsplash.com/photo-1519710889408-a67e1c7e0452?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2134&amp;q=80);
    height: 240px;
}
.bg-item7{
    background-image: url(https://images.unsplash.com/photo-1552902019-ebcd97aa9aa0?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2134&amp;q=80);
    height: 240px;
}
.bg-item8{
    background-image: url(../img/map.png);
    height: 400px;
}